<% layout("/layouts/boilerplate") %>

<div class="row">
  <div class="col-8 offset-2">
    <br>

    <div class="container mt-4">
      <h3 class="mb-4">Edit Listing</h3>

      <form method="POST" action="/listings/<%= listing._id %>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">

        <!-- Title -->
        <div class="mb-3">
          <label class="form-label">Title</label>
          <input 
            type="text"
            name="listing[title]"
            value="<%= listing.title %>"
            class="form-control"
            required
          />
          <div class="invalid-feedback">please enter a title</div>
        </div>

        <!-- Description -->
        <div class="mb-3">
          <label class="form-label">Description</label>
          <textarea 
            name="listing[description]"
            class="form-control"
            required
            rows="3"
          ><%= listing.description %></textarea>
          
        </div>

        <!--Preview Old image-->
        <div class="mb-3">
          Original Listing Image<br />
          <img
            src="<%= originalImageUrl %>"
            class="img-thumbnail"
            style="width:100%; max-height:300px; object-fit:cover;"
          />
        </div>
        <!-- Replace Image -->
        <div class="mb-3">
          <label class="form-label">Upload Image</label>
          <input 
            type="file"
            name="listing[image]"
            class="form-control"
          />
        </div>

        <!--Category-->
        <div class="mb-3">
    <label class="form-label">Category</label>

    <select
        name="listing[category]"
        class="form-select"
        required
    >
        <option value="Trending" <%= listing.category === "Trending" ? "selected" : "" %>>Trending</option>
        <option value="Rooms" <%= listing.category === "Rooms" ? "selected" : "" %>>Rooms</option>
        <option value="Mountains" <%= listing.category === "Mountains" ? "selected" : "" %>>Mountains</option>
        <option value="Pools" <%= listing.category === "Pools" ? "selected" : "" %>>Pools</option>
        <option value="Beach" <%= listing.category === "Beach" ? "selected" : "" %>>Beach</option>
        <option value="Arctic" <%= listing.category === "Arctic" ? "selected" : "" %>>Arctic</option>
        <option value="Camping" <%= listing.category === "Camping" ? "selected" : "" %>>Camping</option>
        <option value="Forest" <%= listing.category === "Forest" ? "selected" : "" %>>Forest</option>
        <option value="Lakefront" <%= listing.category === "Lakefront" ? "selected" : "" %>>Lakefront</option>
        <option value="Historical" <%= listing.category === "Historical" ? "selected" : "" %>>Historical</option>
        <option value="City View" <%= listing.category === "City View" ? "selected" : "" %>>City View</option>
        <option value="Cabins" <%= listing.category === "Cabins" ? "selected" : "" %>>Cabins</option>
        <option value="Luxury" <%= listing.category === "Luxury" ? "selected" : "" %>>Luxury</option>
        <option value="Farm Stay" <%= listing.category === "Farm Stay" ? "selected" : "" %>>Farm Stay</option>
        <option value="Boats" <%= listing.category === "Boats" ? "selected" : "" %>>Boats</option>
    </select>
</div>

        <!-- Price + Country Row -->
        <div class="row">
          <div class="mb-3 col-4">
            <label class="form-label">Price</label>
            <input 
              type="number"
              name="listing[price]"
              value="<%= listing.price %>"
              class="form-control"
              required
            />
            <div class="invalid-feedback">please enter a price</div>
          </div>

          <div class="mb-3 col-8">
            <label class="form-label">Country</label>
            <input 
              type="text"
              name="listing[country]"
              value="<%= listing.country %>"
              class="form-control"
              required
            />
          </div>
          <div class="invalid-feedback">please enter a country</div>
        </div>

        <!-- Location -->
        <div class="mb-3">
          <label class="form-label">Location</label>
          <input 
            type="text"
            name="listing[location]"
            value="<%= listing.location %>"
            class="form-control"
            required
          />
          <div class="invalid-feedback">please enter a location</div>
        </div>

        <!-- Button -->
        <button class="btn btn-dark edit-btn">Update Listing</button>

      </form>
    </div>

  </div>
</div>

<br>
